.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  margin: 0;
  background: orange;
  overflow: hidden;
}

.section {
  height: 60%;
  width: 100%;
  position: relative;
}

.background {
  width: 100%;
  height: 100%;
}

.section .background {
  transform: skewY(-45deg);
}
.section_one .background{
  margin-top: -10%;
  background-color: orange;
}

.section_two .background {
  background-color: black;
  height: 130%;
}

h1 {
  position: absolute;
  font-size: 64px;
}

.section_one h1 {
  top: 45%;
  left:20%;
  color: black;
}

.section_two h1 {
  bottom: 65%;
  right: 10%;
  color: white;
}
